/* Google Fonts Import */   
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik+Bubbles&display=swap');

/* CSS Variable */
:root{
    /* First choice fonts are from google fonts */
    --heading-font:'rubik-bubbles',sans-serif;
    --primary-font:'patrick-hand', cursive;
    --hero-color:#f8f8ff; /*Ghost white*/
    --heading-color:#808080; /*Grey*/
    --primary-color:#4169E1; /*Royal blue*/
}

/* Asterisk wildcard selector to overide default styles add by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
body{
    /* font-family: */
    width: 100%;
    background-color:#e3f2fd; /*Light blue*/
}


 /* Hero section */
 #hero {
    background-image: url("../images/rock-pool.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
 }
